html,body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #3333;
}

*{
  overflow-x: hidden !important;
  overflow-y: auto !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#InnerImage {
  animation-name: rotate; 
  animation-duration: 15s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: all .2s ease-in-out
}

@keyframes rotateOTHER {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}

#OuterImage {
  animation-name: rotateOTHER; 
  animation-duration: 15s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.QuadImage {
  background-color: rgba(1, 1, 1, 0);
  opacity: 0.8;
  transition: all 0.25s ease-in-out;
}

#GAME {
  background-color: rgba(1,227,31,0.25);
  transition: background-color 0.25s ease-in-out;
}
#GAME:hover {
  background-color: rgba(1,227,31,1);
}
#GAME:hover .QuadImage {
  opacity: 1;
  transform: scale(1.15);
}

#FILM {
  background-color: rgba(254, 0, 2,0.25);
  transition: background-color 0.25s ease-in-out;
}
#FILM:hover {
  background-color: rgba(254, 0, 2,1);
}
#FILM:hover .QuadImage {
  opacity: 1;
  transform: scale(1.15);
}


#FOOD {
  background-color: rgba(255,255,1,0.25);
  transition: background-color 0.25s ease-in-out;
}
#FOOD:hover {
  background-color: rgba(255,255,1,1);
}
#FOOD:hover .QuadImage {
  opacity: 1;
  transform: scale(1.15);
}


#STYLE {
  background-color: rgba(0,192,255,0.25);
  transition: background-color 0.25s ease-in-out;
}
#STYLE:hover {
  background-color: rgba(0,192,255,1);
}
#STYLE:hover .QuadImage {
  opacity: 1;
  transform: scale(1.15);
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}